html, body {
  height: 100%;
}

#introduction {
  background-color: red;
}

#idea {
  background-color: blue;
}

#join {
  background-color: grey;
}

#footer {
  height: 20px;
  background-color: purple;
}
